{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        THIS IS THE HOMEPAGE
        <div class="row">

            <!-- Note List -->


        </div>
    </div>
{% endblock %}
