{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        THIS IS THE HOMEPAGE
        <div class="row">

            <!-- Note List -->
            <a href="{{ path('note_list') }}"class="btn btn-light">Notes</a>
            <a href="{{ path('category_list') }}"class="btn btn-light">Categories</a>

        </div>
    </div>
{% endblock %}
